# For inspiration:
# https://github.com/github/gitignore/blob/master/Node.gitignore

# misc
.DS_Store
*.pem

# dependencies
/node_modules

# testing
/coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
